apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/cilium
  - ../../base/cilium-gateway
  - ./cilium-gateway
patches:
  - path: cilium-patch.yaml
    target:
      kind: HelmRelease
      name: cilium
