---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: toolbox
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: toolbox
  template:
    metadata:
      labels:
        app: toolbox
    spec:
      containers:
        - name: toolbox
          image: nicolaka/netshoot:latest
          command: ["/bin/sh", "-c", "sleep infinity"]
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
