{{- if .Values.mcs.enabled -}}
apiVersion: multicluster.x-k8s.io/v1alpha1
kind: ServiceExport
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: multicluster.x-k8s.io/v1alpha1
kind: ServiceExport
metadata:
  name: {{ .Release.Name }}-headless
  namespace: {{ .Release.Namespace }}
{{- end }}
